<!-- <div class="container">
    <span>Search </span>
    <input type="text" [ngModel]="enteredSearchValue" (input)="onSearchTextChanged()">
</div> -->


<!-- 
<div class="container">
    <div class="row">
        <div class="search-employee">
            <input type="text" name="search" ngModel="findEmployee" placeholder="search by name">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | filterBy: findEmployee">
                    <td>{{employee.Id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.emailId}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>  -->
